*  {
    margin: 0;
    padding: 0;
}
.header {
    color: #fff;
    background: #334f6a;
    text-align: center;
    background: url(background_header.png);
    background-size: cover;
}
.navbar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}
.logo-company_name {
    float: left;
    padding-left: ;
}
.logo-company_name span {
    font-family: 'Roboto', sans-serif;
    color: #2bbece;
    font-size: 30px; /* Approximation due to font substitution */


}
.menu {
    float: right;
}
.menu ul li {
    display: inline-block;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px; /* Approximation due to font substitution */

    text-transform: uppercase;
}
.menu ul li a {
    text-decoration: none;
    color: #ffffff;
}
.menu ul li a:hover {
    font-family: 'Roboto', sans-serif;
    color: #00e0d0;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: bold;




}
.main_section {
    padding-top: 150px;
    margin: 0 auto;
    width: 940px;
}