*  {
    margin: 0;
    padding: 0;
}
.header {
    color: #fff;
    background: #334f6a;
    text-align: center;
    background: url(background_header.png);
    background-size: cover;
}
.navbar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}
.logo-company_name {
    float: left;
    padding-left: 250px;
    padding-top: 15px;
}
.logo-company_name span {
    font-family: 'Roboto', sans-serif;
    color: #2bbece;
    font-weight: 100;
    font-size: 30px; /* Approximation due to font substitution */
    padding-left: 15px;
    top: -15px;
    position: relative;


}
.menu {
    float: right;
    padding-right: 50px;
}
.menu > ul > li {
    display: inline-block;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px; /* Approximation due to font substitution */

    text-transform: uppercase;
}
.menu ul li a {
    text-decoration: none;
    color: #ffffff;
}
.menu ul li a:hover {
    font-family: 'Roboto', sans-serif;
    color: #00e0d0;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: bold;




}


.main_section {
    padding-top: 150px;
    margin: 0 auto;
    width: 960px;
}
.main_section h1 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 36px; /* Approximation due to font substitution */
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.main_section hr {
    display: block;
    height: 1px;
    width: 8%;
    padding-top: 30px;

    border: 0;
    border-top: 1px solid #00e0d0;
    margin: 0 auto;

}
.main_section p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px; /* Approximation due to font substitution */

    line-height: 24px; /* Approximation due to font substitution */
    text-align: center;
    width: 940px;
    padding-bottom: 80px;
}

.main_section .button {
    width: 120px;
    height: 40px;
    font-family: 'Hammersmith One', sans-serif;
    color: #00e0d0;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    padding: 10px 20px;
}
.main_section a:hover {
    background-color: #1b123c;
}
.dotnav {
    margin-top: 200px;
    padding-bottom: 50px;
}
.dotnav ul li{
    display: inline-block;
    font-size: 96px;
    list-style-type: none;
    text-decoration: none;

}
.dotnav ul li a {
    text-decoration: none;
    color: white;
}

.dotnav a:hover {
    color: #00e0d0;
}



