body {
    font-family: Economica, sans-serif;
    font-weight: bold;
}
a {
    color: white;
}
a:hover {
    color: darkgrey;;
}
a:link {
    text-decoration: none;
    color:#eeedf2 ;
}
a:active {
    background: white;
    color: darkgrey ;
}
div
{
    width: 100%;
    height: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: ;
    background: #a64dff;

}
.menu {
    width: 900px;
}
span {

    height: 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: darkgrey;
    padding: 14px;

}

}
span:hover {
    background: #f0f0f0;
    color: darkgrey;

}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}