* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
a {
    display: inline-block;
    padding-top: 150px;
    padding-left: 50px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    color: crimson;
}